<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title or 'No title'}}</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/jquery.jqplot.js"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.jqplot.css" />
    <script class="include" type="text/javascript" src="js/plugins/jqplot.barRenderer.js"></script>
    <script class="include" type="text/javascript" src="js/plugins/jqplot.categoryAxisRenderer.js"></script>
    <script class="include" type="text/javascript" src="js/plugins/jqplot.pointLabels.js"></script>
  </head>
  <body>
    %include
  </body>
</html>
